@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');

.App{
  color: #858585;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  width: 80%;
  margin: auto;
  background-color: white;
  text-align: center;
  min-height: 100vh;
}

.aside {
  flex-basis: 20%;
}

.main {
  flex-grow: 1;
}